@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


<div class="container">
    <br />
    <br />
    <h3>İşlem Butonları</h3>
    <hr />
    <buton type="button" id="btncustomerlist" class="btn btn-outline-primary">Müşteri Listesi</buton>
    <buton type="button" id="btncustomeradd" class="btn btn-outline-success">Müşteri Ekle</buton>
    <buton type="button" id="btncustomerdelete" class="btn btn-outline-danger">Müşteri Sil</buton>
    <buton type="button" id="btncustomeredit" class="btn btn-outline-warning">Müşteri Güncelle</buton>
    <buton type="button" id="btncustomerget" class="btn btn-outline-info">Müşteri Getir</buton>
    <br />
    <hr />
    <h3>Müşteri Listesi</h3>
    <div id="customerlist">
    </div>
    <br />
    <hr />
    <div>
        <h3>Yeni Müşteri Ekleme Alanı</h3>
        <input type="text" class="form-control" id="txtcustomername" placeholder="Müşteri Adı" />
        <br />
        <input type="text" class="form-control" id="txtcustomersurname" placeholder="Müşteri Soyadı" />
        <br />
        <input type="text" class="form-control" id="txtcustomercity" placeholder="Müşteri Şehri" />
        <br />
        <hr />
    </div>

    <div>
        <h3>Müşteri Silme Alanı</h3>
        <input type="text" class="form-control" id="txtdeletedid" placeholder="Silinecek ID Değerini Giriiz" />
        <br /><hr />
    </div>

    <div>
        <h3>ID'Ye Göre Müşteri Getirme</h3>
        <input type="text" class="form-control" id="txtgetcustomerid" placeholder="Bilgilerini Getirmek İstediğiniz ID Değerini Giriniz" />
        <br /><hr />
    </div>

    <div id="customerlistbyid">

        <br /><hr />
    </div>

    <div>
        <input type="text" class="form-control" placeholder="Güncellenecek Müşteri ID" id="txteditid" />
        <br />
        <input type="text" class="form-control" placeholder="Güncellenecek Müşteri Adı" id="txteditname" />
        <br />
        <input type="text" class="form-control" placeholder="Güncellenecek Müşteri Soyadı" id="txteditsurname" />
        <br />
        <input type="text" class="form-control" placeholder="Güncellenecek Müşteri Şehri" id="txteditcity" />
        <br /><hr />
    </div>

</div>

<script>


    $("#btncustomerlist").click(function () {
        $.ajax({
            contentType: "application/json",
            dataType: "json",
            type: "Get",
            url: "/Default/CustomerList/",
            success: function (funk1) {
                let values = jQuery.parseJSON(funk1);
                console.log(values);
                let tablehtml = `<table class=table table-bordered>
                            <tr>
                            <th>Müşteri ID</th>
                            <th>Müşteri Adı</th>
                            <th>Müşteri Soyadı</th>
                            <th>Şehir</th>
                            </tr>`
                $.each(values, (index, value) => {
                    tablehtml += `<tr>
                                <td>${value.CustomerID}</td>
                                <td>${value.Name}</td>
                                <td>${value.Surname}</td>
                                <td>${value.City}</td>
                                </tr>`
                });
                tablehtml += "</table>";
                $("#customerlist").html(tablehtml);
            }
        });
    });

    $("#btncustomeradd").click(function () {
        let customervalues = {
            Name: $("#txtcustomername").val(),
            Surname: $("#txtcustomersurname").val(),
            City: $("#txtcustomercity").val()
        };

        $.ajax({
            type: "post",
            url: "/Default/AddCustomer/",
            data: customervalues,
            success: function (funk2) {
                let result = jQuery.parseJSON(funk2);
                swal("Müşteri Eklendi", "İyi çalışmalar!", "success");
            }
        });
    });

    $("#btncustomerdelete").click(function () {
        let id = $("#txtdeletedid").val();
        $.ajax({
            url: "/Default/DeleteCustomer/" + id,
            type: "Get",
            contentType: "application/json",
            success: function (funk3) {
                swal("Müşteri Başarılı Bir Şekilde Silindi");
            }
        });
    });

    $("#btncustomerget").click(function () {
        let id = $("#txtgetcustomerid").val();

        $.ajax({
            contentType: "application/json",
            dataType: "json",
            type: "Get",
            url: "/Default/GetCustomer/",
            data: { CustomerID: id },
            success: function (funk4) {
                let result = jQuery.parseJSON(funk4);
                console.log(result);
                let htmlstr = `<table class=table table-hover>
                        <tr>
                        <th>Müşteri ID</th>
                        <th>Müşteri Adı</th>
                        <th>Müşteri Soyadı</th>
                        <th>Müşteri Şehri</th>
                        </tr>
                        <tr>
                        <td>${result.CustomerID}</td>
                        <td>${result.Name}</td>
                        <td>${result.Surname}</td>
                        <td>${result.City}</td>
                        </tr>
                        </table>`;
                $("#customerlistbyid").html(htmlstr);

            }
        });
    });

    $("#btncustomeredit").click(function(){
        let values={
            CustomerID:$("#txteditid").val(),
            Name: $("#txteditname").val(),
            Surname: $("#txteditsurname").val(),
            City:$("#txteditcity").val()
        };
        $.ajax({
            type:"post",
            url: "/Default/UpdateCustomer/",
            data:values,
            success:function(funk5)
            {
                swal("Müşteri Başarılı Bir Şekilde Güncellendi");
            }
        });
    });

</script>